//
   Created by karan on 3/12/2015.
h3
   | Get Driver
   form(action='/get_driver', method='post')
      | Access token :
      input(type='text', name='access_token')
      | Drop latitude :
      input(type='text', name='latitude')
      | Drop longitude :
      input(type='text', name='longitude')
      | Kilometer :
      input(type='text', name='km')
      br
      input(type='submit',value='submit')
      br
      br
h3
   | Set Order
   form(action='/set_order', method='post')
      | Access token :
      input(type='text', name='access_token')
      | Pickup latitude :
      input(type='text', name='latitude')
      | Pickup longitude :
      input(type='text', name='longitude')
      | Kilometer :
      input(type='text', name='km')
      | Address :
      input(type='text', name='pickupAddress')
      br
      input(type='submit',value='submit')
      br
      br
h3
   | Confirm Order By Driver
   form(action='/confirm_order', method='post')
      | Access token :
      input(type='text', name='access_token')
      br
      input(type='submit',value='submit')
      br
h3
   | Start service  By Driver
   form(action='/start_service', method='post')
      | Access token :
      input(type='text', name='access_token')
      | Pickup latitude :
      input(type='text', name='latitude')
      | Pickup longitude :
      input(type='text', name='longitude')
      br
      input(type='submit',value='submit')
      br
h3
   | End service  By Driver
   form(action='/end_service', method='post')
      | Access token :
      input(type='text', name='access_token')
      | Delivered latitude :
      input(type='text', name='latitude')
      | Delivered longitude :
      input(type='text', name='longitude')
      | Address :
      input(type='text', name='delivered_address')
      | Price :
      input(type='text', name='price')
      br
      input(type='submit',value='submit')
      br
h3
   | User/Driver Login
   form(action='/user_login', method='post')
      | User Email
      input(type='text', name='user_email')
      | User Password
      input(type='text', name='user_password')
      | Current latitude :
      input(type='text', name='Current_latitude')
      | Current longitude :
      input(type='text', name='Current_longitude')
      | Device Type :
      input(type='text', name='device_type')
      | Device Ttoken :
      input(type='text', name='device_token')
      | App Version  (100) :
      input(type='text', name='app_version')
      br
      input(type='submit',value='submit')
      br
      br
h3
   | Add User
   form(action='/add_user', method='post', enctype='multipart/form-data')
      | User name
      input(type='text', name='user_name')
      | User Email
      input(type='text', name='user_email')
      | User Phone number
      input(type='text', name='user_phone_no')
      | User Password
      input(type='text', name='user_password')
      | Device token
      input(type='text', name='device_token')
      | Device Type 0:android, 1:ios, 2:windows, 3:others
      input(type='text', name='device_type')
      | User Address
      input(type='text', name='user_address')
      | latitude :
      input(type='text', name='drop_latitude')
      | longitude :
      input(type='text', name='drop_longitude')
      | user_image:
      input(type="file", name="user_image", accept="image/*")
      | Registration as a (0: user, 1: Both):
      input(type='text', name='reg_as')
      br
      input(type='submit',value='submit')
      br
      br
h3
   | Add Driver
   form(action='/add_driver', method='post', enctype='multipart/form-data')
      | Driver name
      input(type='text', name='driver_name')
      | Driver Email
      input(type='text', name='driver_email')
      | Driver Phone number
      input(type='text', name='driver_phone_no')
      | Driver Password
      input(type='text', name='driver_password')
      | Device token
      input(type='text', name='device_token')
      | Device Type 0:android, 1:ios, 2:windows, 3:others
      input(type='text', name='device_type')
      | Driver Address
      input(type='text', name='driver_address')
      | latitude :
      input(type='text', name='drop_latitude')
      | longitude :
      input(type='text', name='drop_longitude')
      | Driver Image:
      input(type='file', name='driver_image', accept="image/*")
      br
      input(type='submit',value='submit')
      br
      br
h3
   | logout
   form(action='/logout', method='post')
      | Access token :
      input(type='text', name='access_token')
      input(type='submit', value='submit')
h3
   | Forgot Password of user/driver
   form(action='/forgot_password', method='POST')
      | email :
      input(type='text', name='email')
      input(type='submit', value='submit')
h3
   | Change Password of user/driver
   form(action='/forgot_password', method='POST')
      | email :
      input(type='text', name='email')
      input(type='submit', value='submit')
h3
   | Edit Profile of user/driver
   form(action='/edit_user_profile', method='POST', enctype='multipart/form-data')
      | Access token :
      input(type='text', name='access_token')
      | User name
      input(type='text', name='user_name')
      | User Phone number
      input(type='text', name='user_phone_no')
      | User Address
      input(type='text', name='user_address')
      | user_image:
      input(type="file", name="user_image", accept="image/*")
      br
      input(type='submit',value='submit')
      br
      br